.container{
  color: var(--textColor);
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
}.container h3{
  font-size: 1rem;
}.container h2{
  font-size: 1.25rem;
  margin: .3em 0;
}
.container ul{
  list-style: square;
}.container li{
  font-weight: 200;
  font-size: .95rem;
}.container a{
  width: 100%;
  max-width: 400px;
  margin: 1em auto .5em;
  display: block;
  color: var(--textColor);
  background-color: var(--overlayColor);
  padding: .75em 0;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  border: 1px solid transparent;
}.container a:hover, .container a:focus{
  border-color: var(--textColor);
  opacity: 0.8;
}

@media(min-width: 700px){
  .container{
    margin-right: auto;
    margin-left: 8%;
  }.container a{
    margin-right: auto;
    margin-left: 0%;
  }
}