.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--overlayColor);
  padding: 1em .5em;
}.container a{
  text-decoration: none;
  color: var(--textColor);
  font-size: min(6vw, 1.5rem);
  width: 50%;
}

.imgContainer{
  width: 40%;
  max-width: 170px;
}