.container{
  padding: 1.5em .5em 2em;
  max-width: 1200px;
  margin: 0 auto;
}
.previousBtn{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 0;
  border: none;
  outline: none;
  border-radius: 5px;
  width: 50%;
  max-width: 150px;
  background-color: var(--overlayColor);
  color: var(--textColor);
  border: 1px solid transparent;
  margin-bottom: 2em;
  cursor: pointer;
  font-size: .85rem;
  font-weight: 400;
  transition: .3s linear;
}.previousBtn:hover, .previousBtn:focus{
  opacity: 0.8;
  transform: scale(.95);
  border-color: var(--textColor);
}.previousBtn svg{
  width: 20%;
  min-height: 20px;
}

.articleContainer{
  padding-top: 1em;
}

.movieArticle{
  padding: 1em 0;
  color: var(--textColor);
}.movieArticle1 h2{
  font-size: 1.25rem;
  letter-spacing: 1.2px;
  line-height: 1.2;
  margin-bottom: .25em;
}.movieArticle1 p{
  line-height: 1.1;
  font-size: .8rem;
  font-weight: 200;
  font-style: italic;
  letter-spacing: 1.2px;
}.movieArticle1{
  margin-bottom: 1em;
}.movieArticle2{
  margin: 0em 0em 2em;
}.movieArticle2 p {
  font-weight: 500;
}.movieArticle2 span{
  font-size: 0.9rem;
  font-weight: 200;
}.movieArticle3 h3{
  margin-bottom: .35em;
  text-transform: uppercase;
  font-size: 1.1rem;
}.movieArticle3 p{
  font-size: .9rem;
  font-weight: 200;
}
.moviePoster{
  border-radius: 5px;
}.moviePoster img{
  border-radius: 5px;
}

@media(min-width: 500px){
  .articleContainer{
    display: flex;
    column-gap: min(5em, 10%);
    align-items: flex-start;
    max-width: 900px;
    margin-left: .5em;
  }.moviePoster{
    width: 30%;
  }.movieArticle{
    width: 50%;
    padding-top: .5em;
  }
}