.container{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--bgColor);
  min-height: 60vh;
  width: 100%;
  z-index: 2;
  padding-bottom: 1em;
}.container div{
  background-color: var(--overlayColor);
}

.header{
  display: flex;
  padding: 1em .5em;
  align-items: center;
  column-gap: .5em;
  color: var(--textColor);
  border-bottom: .5em solid var(--bgColor);
}.header button{
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}.header button:hover, .header button:focus{
  opacity: 0.8;
  outline: initial;
}

.header h2{
  font-size: 1rem;
  font-weight: 400;
}

.closeFilterBtn{
  color: var(--textColor);
}.closeFilterBtn svg{
  min-height: 25px;
}

.clearFilterBtn{
  margin-left: auto;
  color: var(--lightTeal);
}


.filterForm{
  width: 98%;
  margin: 0 auto;
  background-color: var(--overlayColor);
  border-radius: 3px;
  padding: 1em .5em;
  margin-bottom: .3em;
}

.genreFilter{
  color: var(--textColor);
}
.genreList{
  list-style: none;
  padding-left: .3em;
  padding-top: .5em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1.5em 1em;
}.genreItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 140px;
  padding: .5em;
  background-color: var(--bgColor);
  border-radius: 5px;
}.genreItem label{
  font-weight: 200;
  cursor: pointer;
  font-size: min(.9rem, 95%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
}.genreItem input{
  cursor: pointer;
  width: 20%;
}

.dateFilter{
  padding: 2em 0;
  color: var(--textColor);
}
.rangeContainer{
  display: flex;
  flex-direction: column;
  padding-top: 1em;
}.rangeContainer input{
  width: 80%;
  max-width: 300px;
}.rangeContainer label{
  font-size: .85rem;
  font-weight: 200;
  font-style: italic;
}







.ending{
  width: 100%;
  margin-top: auto;
  padding: .5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.resultsBtn{
  width: 90%;
  max-width: 300px;
  background-color: var(--bgColor);
  outline: none;
  border: none;
  padding: .5em 0;
  color: var(--textColor);
  border-radius: 5px;
  cursor: pointer;
}.resultsBtn:hover, .resultsBtn:focus{
  opacity: 0.8;
}

@media(min-width: 700px){
  .genreItem label{
    font-size: min(.75rem, 90%);
  }
  .filterForm h3{
    margin-bottom: .5em;
  }
}