.container{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2em 0;
  max-width: 1230px;
  margin: 0 auto;
}
.movieInput{
  width: 95%;
  padding: 1em;
  border-radius: 5px;
  outline: none;
  border: none;
}